.mb-3 {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    grid-auto-columns: 20px;
}

.game-cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}