body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(15, 172, 45, 0.87);
    font-family: sans-serif;
}

h1{
    text-align: center;
}

#start{
    text-align: center;
}

#container{
    position: relative;
    height: 90vh;
    width: 50%;
    left: 35%;
    margin-top: 20px;;
    background-color: rgb(89, 89, 89);
    overflow: hidden;
}

.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgb(255, 254, 41);
}

#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}

.line-left{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 19%;
    background-color: rgb(255, 255, 255);
}

#line_4{
    top: -150px;
}
#line_5{
    top: 150px;
}
#line_6{
    top: 450px;
}

.line-right{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 78%;
    background-color: rgb(255, 255, 255);
}

#line_7{
    top: -150px;
}
#line_8{
    top: 150px;
}
#line_9{
    top: 450px;
}

.car{
    position: absolute;
    height: 100px;
    width: 60px;
}

.power-up{
    position: absolute;
    height: 20px;
    width: 20px;

}


#car{
    bottom: 8%;
    left: 60%;
    background-size: contain;
}

#car_1{
    top: -100px;
    left: 60%;
    background-size: contain;
}

#car_2{
    top: -200px;
    left: 40%;
    background-size: contain;
}

#car_3{
    top: -350px;
    left: 50%;
    background-size: contain;
}

#extra_score{
    top: -250px;
    left: 30%;
    background-size: contain;
}


#car_4{
    top: -400px;
    left: 20%;
    background-size: contain;
}

#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #141d9d;
    font-size: 30px;
    margin-top: 30%;
    border-radius: 10px;
}

.small_text{
    font-size: 15px;
    font-family: Montserrat;
}

#score_div{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}
#timer_div {
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}
#help{
	text-align: center;
}
