
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Traffic racer</title>
    <link href="static/css/style.css" rel="stylesheet" /> </head>

<body>
    <div id="help">
        <p>Controls: Right, Left, Up & Down arrow keys.</p>
    </div>
    <div id="score_div">
        Score: <span id="score">0</span>
    </div>
    <div id="timer_div">
        Time: <span id="timer"></span>
        <label id="minutes">00</label>:<label id="seconds">00</label>
    </div>
    <div id="container">
        <div id="line_1" class="line"></div>
        <div id="line_2" class="line"></div>
        <div id="line_3" class="line"></div>
        <div id="line_4" class="line-left"></div>
        <div id="line_5" class="line-left"></div>
        <div id="line_6" class="line-left"></div>
        <div id="line_7" class="line-right"></div>
        <div id="line_8" class="line-right"></div>
        <div id="line_9" class="line-right"></div>
        <div id="car" class="car"><img src="../static/image/maincar.png" width="60" height="100"></div>
        <div id="car_1" class="car"><img src="../static/image/car1.png" width="60" height="100"></div>
        <div id="car_2" class="car"><img src="../static/image/van1.png" width="60" height="110"></div>
        <div id="car_3" class="car"><img src="../static/image/van2.png" width="60" height="110"></div>
        <div id="car_4" class="car"><img src="../static/image/ambulancecar.png" width="60" height="110"></div>
        <div id="extra_score" class="power-up"></div>
        <div id="restart_div">
            <button id="restart">
                Restart<br>
                <small class="small_text">(press Enter)</small>
            </button>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/game.js"></script>
</body>

</html>